// Navigation
.navbar-default {
	background-color:rgba(16,22,54,.2);
}
.navbar-default .navbar-brand {
	color:#fff;
}
.navbar-default .navbar-nav>li>a {
	color:#fff;
}
.slider-bg {
	background: url("../images/bg.jpg") no-repeat center center;
	background-attachment: cover;
	height:800px;
}
